<nav>
  <div
    class="w-full flex flex-wrap items-center justify-between mx-auto py-4"
  >
    <div class="flex items-center space-x-8">
      <ul class="flex space-x-6">
        <li>
          <a
            routerLink="/"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block hover:underline"
            aria-current="page"
            >Project 1</a
          >
        </li>
        <li>
          <a
            routerLink="/reactive-form"
            routerLinkActive="underline"
            class="block hover:underline"
            >Project 2</a
          >
        </li>
        <li>
          <a
            routerLink="/tooltip"
            routerLinkActive="underline"
            class="block hover:underline"
            >Project 3</a
          >
        </li>
        <li>
          <a
            routerLink="/items-firebase"
            routerLinkActive="underline"
            class="block hover:underline"
            >Project 5</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

